@font-face {
    font-family: Pixelify-Sans-Bold;
    src: url("fonts/PixelifySans-Bold.ttf");
}

#bigboi {
    color: blue;
    font-family: Pixelify-Sans-Bold;
}

body {
    background-color: black;
}

h3 {
    color: aqua;
    font-family: Pixelify-Sans-Bold;
}

p, li, footer {
    color: antiquewhite;
}